@import './normalize.scss';

// Colors
$primary-color: gray;
$secondary-color: lightgray;
$background-color: wihte;

// Container
$app-container-width: 100vw;

$padding: 20px;

.app-container {
  max-width: $app-container-width;
  margin: 0 auto;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
}
