$table-bg-color: #eee;
$table-hover-bg-color: #f2f2f2;
$table-border-color: #ccc;
$table-cell-padding: 1rem;

.table-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 80vw;
  overflow-y: scroll;
  border: 1px solid $table-border-color;

  .table-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    font-weight: bold;
    background-color: $table-bg-color;

    .table-header-column {
      width: auto;
      text-align: center;
      padding: $table-cell-padding;
      border-right: 1px solid $table-border-color;

      &:last-child {
        border-right: none;
      }
    }
  }

  .table-body {
    display: flex;
    flex-direction: column;

    .table-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid $table-border-color;

      &:hover {
        background-color: $table-hover-bg-color;
      }

      .table-row-column {
        width: auto;
        text-align: center;
        padding: $table-cell-padding;
        border-right: 1px solid $table-border-color;

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}

.buttons {
  margin-left: 10px;
}
